StackLayout {
    width: 300;
    height: 300;
    border-color: orange;
    border-width: 5;
}

Label {
    width: 50;
    height: 50;
}

#ls1 {
    background-color: rgb(204, 0, 255);
}

#ls2 {
    background-color: blue;
}

#ls3 {
    background-color: green;
}